Bioinformatics experiment/homework4/annovar/humandb/
Bioinformatics experiment/homework4/bioinfor/annovar.latest.tar.gz
Bioinformatics experiment/homework4/annovar/humandb/
Bioinformatics experiment/homework4/bioinfor/annovar.latest.tar.gz
Bioinformatics experiment/homework4/bioinfor/annovar/humandb/
Bioinformatics experiment/homework4/bioinfor/annovar.latest.tar.gz
Bioinformatics experiment/homework4/bioinfor/annovar/
